{% extends '!layout.html' %}
  {% block sidebartitle %}

   <a href="{{ pathto(master_doc) }}">          

  {% if logo %}
	{# Not strictly valid HTML, but it's the only way to display/scale it properly, without weird scripting or heaps of work #}
	<img src="{{ pathto('_static/' + logo, 1) }}" class="logo" />
  {% endif %}
  </a>

  {% if theme_display_version %}
	{%- set nav_version = version %}
	{% if READTHEDOCS and current_version %}
	  {%- set nav_version = current_version %}
	{% endif %}
	{% if nav_version %}
	  <div class="version">
		{{ nav_version }}
	  </div>
	{% endif %}
  {% endif %}

  {% include "searchbox.html" %}

  {% endblock %}