<style>
    .wy-side-nav-search > .fa-home {
        display: block !important;
        font-size: 0 !important;
        width: 151px !important;
        height: 30px !important;
        background: transparent url("{{ pathto('_static/logo.png', 1) }}") scroll no-repeat 0 0 !important;
        margin: 0 auto 15px !important;
    }
</style>
<div role="search">
    <form id ="rtd-search-form" class="wy-form" action="{{ pathto('search') }}" method="get">
        <input type="text" name="q" placeholder="Search docs" />
        <input type="hidden" name="check_keywords" value="yes" />
        <input type="hidden" name="area" value="default" />
    </form>
</div>